#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.progress-box {
  background: #eaf2ff;
  padding: 16px;
  border-radius: 14px;
  margin: 20px 0;
}

.badge {
  margin-top: 10px;
  font-weight: bold;
  color: #2b5cff;
}
.badge:hover {
  text-decoration: underline;
}

.learned-button {
  margin-top: 14px;
  background: #d4f5e9;
  color: #0f5132;
}

.learned-button:hover {
  background: #bff0de;
}

